__pycache__/
*.pyc
*.pyo
.git/
.github/
.vscode/
*.md
LICENSE
uploads/
originales/
chrome_profile/
.pdfjs_tmp/
*.log
.DS_Store
daemon.py
main.py
pdftest/
favicon.zip
*.crx
config.json
auth.json
start.sh
start_server.sh
